@using Microsoft.AspNetCore.Identity
@using SummerHouseApplication.Models

@inject SignInManager<SummerHouseUser> SignInManager
@inject UserManager<SummerHouseUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="~/summerhouse/">Mökit</a></li>
    </ul>
    <form asp-controller="Account" 
          asp-action="Logout" 
          method="post"
          id="logoutForm">
        <ul class="right hide-on-med-and-down">
            <li>
                <a asp-controller="Manage" asp-action="Index">Terve @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn blue" style="margin-right:1em;">Ulos</button>
            </li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li>
                <a asp-controller="Manage" asp-action="Index">Terve @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn blue" style="margin-right:1em;">Ulos</button>
            </li>
        </ul>
    </form>
    <script>
        $(document).ready(function () {
            $(".button-collapse").sideNav();
        });       
    </script>
}
else
{
    <ul class="right hide-on-med-and-down">
        <li><a asp-controller="Account" asp-action="Register">Rekisteröidy</a></li>
        <li><a asp-controller="Account" asp-action="Login">Kirjaudu</a></li>
    </ul>
}
