@model SummerHouseApplication.Models.MapViewModels.FishingMapViewModel

<div id="map" class="container">
    <h1>Testing GMAP</h1>
    <div id="googleMap" style="width:100%;height:400px;">
    </div>
    <button id="fish-marker" class="map-button">
        <img src="~/images/fish.svg" />
    </button>
    <button id="net-marker" class="map-button">
        <img src="~/images/fishing-net.png" />
    </button>
    <button id="restore-marker" class="map-button button-hidden">
        <img src="~/images/restore.svg" />
    </button>
    <button id="nothing-selected" class="map-button">
        <img src="~/images/cancel.svg" />
    </button>
</div>
<div id="fish-modal" class="modal">
    <form></form>
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>
<script src="~/js/fishingmap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFrtYqPXXBGOaWQllWV3I8m0ULit6LGPY&callback=myMap"></script>
