@model SummerHouseApplication.Models.HomeViewModels.HomeIndexViewModel

<div class="row">
    @{
        Html.RenderPartial("_SummerHouseListPartial", Model.SummerHouses);
    }
</div>
<script>
    $(document).ready(function () {
        $('.collapsible').collapsible();
    });
</script>