@model RegisterViewModel

<h2>Rekisteröidy</h2>

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <div class="row">

        <div class="input-field col s12">
            <i class="material-icons prefix">account_box</i>
            <input id="Username" name="Username" type="text">
            <label for="Username">Käyttäjänimi</label>
        </div>


        <div class="input-field col s12">
            <i class="material-icons prefix">contact_mail</i>
            <input id="Email" name="Email" type="text">
            <label for="Email">Sähköposti</label>
        </div>


        <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <input id="Password" name="Password" type="password" class="validate">
            <label for="Password">Salasana</label>
        </div>

        <div class="input-field col s12">
            <i class="material-icons prefix">verified_user</i>
            <input id="ConfirmPassword" name="ConfirmPassword" type="password" class="validate">
            <label for="ConfirmPassword">Vahvista salasanaa</label>
        </div>

        <div class="input-field col s12">
            <button class="btn blue" type="submit">Rekisteröidy</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
