@model SummerHouse
<form asp-action="Create">
    <div class="row">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="input-field col s12">
            <i class="material-icons prefix">label_outline</i>
            <input id="Name" name="Name" type="text">
            <label for="Name">Mökin nimi</label>
        </div>
        <div class="input-field">
            <div class="input-field col s12">
                <i class="material-icons prefix">directions_boat</i>
                <input id="Address" name="Address" type="text">
                <label for="Address">Osoite</label>
            </div>
        </div>
        <div class="input-field">
            <div class="input-field col s12">
                <i class="material-icons prefix">location_city</i>
                <input id="City" name="City" type="text">
                <label for="City">Kaupunki</label>
            </div>
        </div>
        <div class="input-field">
            <div class="input-field col s12">
                <i class="material-icons prefix">local_post_office</i>
                <input id="PostalCode" name="PostalCode" type="text">
                <label for="PostalCode">Postinumero</label>
            </div>
        </div>
        <div class="input-field">
            <div class="col s12 m6">
                <div class="checkbox">
                    <input asp-for="HasBeach" />
                    <label asp-for="HasBeach"></label>
                </div>
            </div>
        </div>
        <div class="input-field">
            <div class="col s12 m6">
                <div class="checkbox">
                    <input asp-for="HasElectricity" />
                    <label asp-for="HasElectricity"></label>
                </div>
            </div>
        </div>
        <div class="input-field">
            <div class="col s12 m6">
                <div class="checkbox">
                    <input asp-for="HasRunningWater" />
                    <label asp-for="HasRunningWater"></label>
                </div>
            </div>
        </div>
        <div class="input-field">
            <div class="col s12 m6">
                <div class="checkbox">
                    <input asp-for="HasSauna" />
                    <label asp-for="HasSauna"></label>
                </div>
            </div>
        </div>
        <div class="input-field col s12">
            <button class="btn brown lighten-2" type="submit" name="action">
                Luo uusi
                <i class="material-icons right">send</i>
            </button>

        </div>
    </div>
</form>
